$alto: #D8D8D8;
$concrete:#f2f2f2;
$dove-gray: #666666;
$curious-blue: #1698D9;
//$piction-blue: #2EA8E6;
// link default hover
$piction-blue: #2EA8E6;
$lemon: #FFFF66;
$razzmatazz: #D91667;
// selected hover
//$cerise-red: #E62E7A;
$cerise-red: #E52E7A;
// disabled
$nobel: #B3B3B3;