.item-wrapper {
    z-index: 1000;
}

.item {
    position: relative;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    width: 320px;
    height: 480px;
    padding: 4px;
    // padding: 20px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: 368px 360px;
    background-position: -24px 208px;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-image: url('../img/Photo.png');
    background-clip: content-box;
    
    // // 13.125 = 42px / 320px 8.75 = 42px / 480px
    // clip-path: polygon(42px 0, 100% 0, 100% 100%, 0 100%, 0px 42px);
    // background-color: $concrete;

    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: -47px;
    //     left: -64px;
    //     display: block;
    //     width: 88px;
    //     height: 88px;
    //     z-index: 1500;
    //     box-sizing: border-box;
    //     background: transparent;
    //     border: 4px solid $curious-blue;
    //     transform: rotate(45deg);
    // }
    &-text {
        padding: 16px 46px;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1000;
        width: 100%;
        height: 100%;
        fill: $concrete;
        stroke: $curious-blue;
    }
    
    &__category {
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 19px;
        color: $dove-gray;
        text-align: left;    
    }

    &__brand {
        color: black;
        font-size: 48px;
        line-height: 56px;
        font-weight: bold;
        text-align: left;
        margin-left: -0.065em;
    }

    &__taste {
        color: black;
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
    }

    &-weight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 384px;
        left: 224px;
        width: 80px;
        height: 80px;
        color: white;
        border-radius: 40px;
        background-color: $curious-blue;

        &__number {
            font-size: 42px;
        }

        &__unit {
            font-size: 21px;
        }
    }
}
