@font-face {
    font-family: 'Exo2.0-Thin';
    src: url('../fonts/Exo2.0-Thin.otf') format('opentype');
}

.main-title {
    color: white;
    font-size: 36px;
    font-family: 'Exo2.0-Thin', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    z-index: 1000;
}